Error Logger.json
{
  "name": "Error Logger",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2c1151b2-58e6-41cc-857b-5a8ace94fa9e",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UFAYvVpc2ZHT70ub4z3BCVE4pg7Ktvwy43MouO6JSIM",
          "mode": "list",
          "cachedResultName": "Error Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UFAYvVpc2ZHT70ub4z3BCVE4pg7Ktvwy43MouO6JSIM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UFAYvVpc2ZHT70ub4z3BCVE4pg7Ktvwy43MouO6JSIM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TimeStamp": "={{ $now.format('yyyy-MM-dd hh:mma') }}",
            "Workflow": "={{ $json.workflow.name }}",
            "URL": "={{ $json.execution.url }}",
            "Error Message": "={{ $json.execution.error.message }}",
            "Node": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TimeStamp",
              "displayName": "TimeStamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Node",
              "displayName": "Node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        -144
      ],
      "id": "05118683-b297-46b3-ba3e-1e5d0de3a186",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AzZoZ0xlLq8q21Sf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A749Q67GR",
          "mode": "list",
          "cachedResultName": "all-new-workspace"
        },
        "text": "=Workflow Error: {{ $('Error Trigger').item.json.workflow.name }}\n\nerror at {{ $now.format('yyyy-MM-dd hh:mma') }}\n\nthe error message was: {{ $('Error Trigger').item.json.execution.error.message }}\n\nsee this execution here : {{ $('Error Trigger').item.json.execution.url }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        208,
        80
      ],
      "id": "83e656e7-56f2-4622-9cc5-af1d400b57db",
      "name": "Send a message",
      "webhookId": "96545d4e-4812-431c-b558-79fb8d2818f2",
      "credentials": {
        "slackOAuth2Api": {
          "id": "bopoUwsXHoVwmibE",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": 231,
            "url": "https://rahulmaroju.app.n8n.cloud/execution/workflow/1/231",
            "retryOf": "34",
            "error": {
              "message": "Example Error Message",
              "stack": "Stacktrace"
            },
            "lastNodeExecuted": "Node With Error",
            "mode": "manual"
          },
          "workflow": {
            "id": "1",
            "name": "Example Workflow"
          }
        }
      }
    ]
  },
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9f416607-9d2c-4c1e-b10a-4890d363ccfa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1bd7939f0576a92ebad35815686ae264223bc4c01d4a52de03ef6f1fdd66fbd"
  },
  "id": "4zEkKmASVLO8JJTn",
  "tags": []
}