Structured Output.json
{
  "name": "Structured Output",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "598fd7e1-34ca-4aab-8ec9-7008ed9a5e6b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const r = item.json;\n\n  const sales = Number(r.Sales || 0);\n  const profit = Number(r.Profit || 0);\n\n  return {\n    json: {\n      rowNumber: r.rowNumber,        // REQUIRED for update step\n      timestamp: r.Timestamp || null,\n      brand: r.Brand || null,\n      region: r.Region || null,\n      retailer: r.Retailer || null,\n      sales,\n      profit,\n      profit_margin: sales ? profit / sales : null,\n      analysis_summary: r.Analysis_Summary || \"\"\n    }\n  };\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "7afec6ad-7add-45de-b670-83239df6a7e8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UFAYvVpc2ZHT70ub4z3BCVE4pg7Ktvwy43MouO6JSIM",
          "mode": "list",
          "cachedResultName": "Error Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UFAYvVpc2ZHT70ub4z3BCVE4pg7Ktvwy43MouO6JSIM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 21807524,
          "mode": "list",
          "cachedResultName": "AI_Sales_Analytics_Bridge",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UFAYvVpc2ZHT70ub4z3BCVE4pg7Ktvwy43MouO6JSIM/edit#gid=21807524"
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "d6519254-0090-4742-bd50-211a4d481994",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AzZoZ0xlLq8q21Sf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a data analyst.\nYou must return ONLY valid JSON.\nNo explanations. No markdown. No extra text.\n"
            },
            {
              "content": "=Return ONLY valid JSON.\n\nSchema:\n{\n  \"risk_score\": number,\n  \"summary\": string,\n  \"trend\": \"positive\" | \"negative\" | \"neutral\",\n  \"recommendation\": string\n}\n\nRules:\n- risk_score must be a number between 0 and 10\n- trend must be exactly one of: positive, negative, neutral\n- No text outside JSON\n\nInput:\n{{ JSON.stringify($json) }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        624,
        0
      ],
      "id": "8c03494a-54b9-454b-88ab-3aeefff045b3",
      "name": "Message a model",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "Gnlr5vGhYJhcTEy8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  const jsonString = item?.json?.output[0]?.content[0]?.text;\n  if (jsonString) {\n    const parsedData = JSON.parse(jsonString);\n    if (\n      parsedData.hasOwnProperty(\"risk_score\") &&\n      parsedData.hasOwnProperty(\"summary\") &&\n      parsedData.hasOwnProperty(\"trend\") &&\n      parsedData.hasOwnProperty(\"recommendation\")\n    ) {\n      item.json.parsedData = parsedData;\n    }\n  }\n  return item;\n});\n\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "512f14ab-dabe-427a-a073-c9651fbbbd7a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1UFAYvVpc2ZHT70ub4z3BCVE4pg7Ktvwy43MouO6JSIM",
          "mode": "list",
          "cachedResultName": "Error Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UFAYvVpc2ZHT70ub4z3BCVE4pg7Ktvwy43MouO6JSIM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 21807524,
          "mode": "list",
          "cachedResultName": "AI_Sales_Analytics_Bridge",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UFAYvVpc2ZHT70ub4z3BCVE4pg7Ktvwy43MouO6JSIM/edit#gid=21807524"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "risk_score": "={{ $json.parsedData.risk_score }}",
            " summary ": "={{ $json.parsedData.summary }}",
            "trend ": "={{ $json.parsedData.trend }}",
            "recommendation": "={{ $json.parsedData.recommendation }}",
            "json_raw": "={{ $json.output[0].content[0].text }}",
            " Brand": "={{ $('Get row(s) in sheet').item.json[' Brand'] }}"
          },
          "matchingColumns": [
            " Brand"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " Brand",
              "displayName": " Brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Region",
              "displayName": "Region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Retailer",
              "displayName": " Retailer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sales",
              "displayName": "Sales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Profit",
              "displayName": "Profit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analysis_Summary",
              "displayName": "Analysis_Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_score",
              "displayName": "risk_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " summary ",
              "displayName": " summary ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "trend ",
              "displayName": "trend ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommendation",
              "displayName": "recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "json_raw",
              "displayName": "json_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        0
      ],
      "id": "61fe34c5-c13e-4ba4-ad02-ce19c1e58fd2",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AzZoZ0xlLq8q21Sf",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "96c51257-b632-41e0-b765-b68365db0197",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1bd7939f0576a92ebad35815686ae264223bc4c01d4a52de03ef6f1fdd66fbd"
  },
  "id": "J91MdJp5QDjWVEb4",
  "tags": []
}